@import 'styles/mixins';

.family-page {
  .family-content {
    @include media-breakpoint-down(md) {
      margin-top: rem-calc(40);
    }
    img {
      width: 100%;
      height: auto;
      min-width: rem-calc(800);
    }
  }
}
