@import 'styles/mixins';
@import 'styles/colors';

.footer {
  width: 100%;
  height: rem-calc(60);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem-calc(14);
  background-color: $black;
  color: white;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 7px $darkShadow;
  }
}
