@import 'styles/mixins';

.page {
  padding: rem-calc(80) 0;
  @include media-breakpoint-down(md) {
    padding-top: rem-calc(40);
  }
  @include media-breakpoint-down(sm) {
    padding-top: rem-calc(30);
  }
  @include media-breakpoint-down(xs) {
    padding-top: rem-calc(15);
  }
  .content > .row {
    flex-direction: row-reverse;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}